<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Wild Readers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/public/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div>
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo">
                <img src="/public/images/logo-mobile-10.png">
            </div>

        </header>
        <section>

        </section>
        <main>

        </main>
        <footer>

        </footer>        
    </body>
</html>