<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidos a Wild Readers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
<body>
    <header>
    <section>
        <img src="/static/images/logo-10.png" />
        <input type="search">
        <a href="#" >crear cuenta</a>
        <a href="#" >iniciar sesion</a>
    </section>
    <section>
        <nav>
            <ul>
                <li><a href="#">conocenos</a></li>
                <li><a href="#">libros</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </nav>
    </section>
    </header>
    <main>
        <img src="/static/images/login.png" alt="imagen del login ">
        <form>
            <label for="mail">correo </label>
            <input name="mail" type="mail">
            <label for="password">password</label>
            <input type="password">
            <label for="radio">radio</label>
            <input type="radio">
        </form>
    </main>
    <footer>
        <section>
        </section>
    </footer>
</body>




</html>