*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E3E4ED;
}

h1 {
    font-family: 'Mukta', sans-serif;
    font-weight:600;
}

header{
    height: 110px;
    background: linear-gradient(180deg,#0BAE95, #1CA7D0);
    padding: 20px;    
}
.top-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.logo {
    width: 60% ;
    height:33%;
    align-self:auto;
    justify-content: center;
    padding: 5px;
    text-align: center;   
}


.burguer-menu{
    color: black;
    width: 20%;
  
}

.cart {
    width: 20%;
    text-align: right;
}

.search-form{
  display:flex;
}

.search-input{
    width: 90%;
    height: 30px;
    border-color:1px solid white;
    
    
}

.search-button{
    width: 10%;
    height: 30px;
    color: white;
    background-color: black;
    border-color: 1px solid black;
}